CONFIG_SECURE_BOOT=y
CONFIG_SECURE_BOOT_V2_ENABLED=y
CONFIG_SECURE_BOOT_SUPPORTS_RSA=y
CONFIG_SECURE_SIGNED_ON_BOOT=y
# 'n' means we DO require RSA signatures (double negative)
CONFIG_SECURE_SIGNED_APPS_NO_RSA_SIGN=n
CONFIG_SECURE_BOOT_SIGNING_KEY="secure_boot_signing_key.pem"
CONFIG_PARTITION_TABLE_OFFSET=0x10000
CONFIG_SECURE_SIGNED_APPS_RSA_SCHEME=y
CONFIG_SECURE_SIGNED_APPS_ECDSA_SCHEME=n
